.mainNav {
    height: 60px;
    background-color: aliceblue;
    align-items: center;
    text-align: center;
}


.mainNav h2 {
    display: inline;
    padding: 20px 10px 20px 30px;
    justify-self: center;
    color: #000;
    background-color: rgb(232, 232, 232);
}

.navLink{
    padding: 20px 50px;
    justify-self: center;
    font-size: x-large;
    text-decoration: none;
    color: #000;
    background-color: rgb(232, 232, 232);
}

.navLink:hover{
    text-decoration: none;
    color: #aeaeae;
}

/* .divfooter {
    display: inline;
    height: 50px;
    background-color: rgb(232, 232, 232);
    bottom: 0;
} */

footer {
    background-color: rgb(232, 232, 232);
    color: black;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight:900;
}


.firstPage h1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    bottom: 50%;
}

.firstPage {
    top: 500px;
}